* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  position: relative;
  color: #e3ecf0;
  background: url('./img/hummingbird-dark.jpg') no-repeat center center/cover;
}

/* Grid Layout */
.about-row {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: inline-flex;
  max-width: 1400px;
}
.about-row:after {
  content: '';
  display: table;
  clear: both;
  max-width: 1400px;
}
.about-col-6 {
  float: left;
  padding: 10px;
}
.about-col-3 {
  float: left;
  padding: 10px;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.none {
  display: none;
}

/* Text Styles*/
.x-large {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 32px;
  margin-bottom: 10px;
}

.lead {
  font-size: 18px;
  margin-bottom: 1rem;
  padding: 10px;
}

.text-center {
  text-align: center;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my-3 {
  margin: 3rem 0 0;
}
.my-1 {
  margin: 1rem 0 0;
}

/* controls what's being viwed on load */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid rgb(175, 171, 171);
  display: none;
}

/* Navbar */
.nav-list {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background: url(./img/sunflower-field.png) no-repeat center center/cover;
  left: 0;
  right: 0;
  display: flex;
}
.nav-list a {
  color: rgb(228, 224, 224);
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
  width: 100%;
}
.nav-list a:hover {
  background-color: rgb(201, 194, 194);
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2;
  border-radius: 5px;
}

/* About */
.about-img {
  width: 18rem;
}

.about {
  font-size: 22px;
  line-height: 1.2;
}

/* google maps */
#map,
.jackson-lytle {
  width: 100%;
  height: 350px;
  background-color: grey;
}

/* gallery of pictures */
.slideshow-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.box-content {
  max-width: 220px;
  min-width: 220px;
  margin: 10px;
}

/* stories */
fieldset {
  border: none;
}

.story-input,
.story-text-area {
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(201, 194, 194);
}

.story-btn {
  width: 90px;
  height: 35px;
  border-radius: 5px;
  color: #fff;
  background-color: #333;
  border: none;
}

.story-btn:hover {
  background-color: rgb(201, 194, 194);
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.story-design {
  background: #fff;
  z-index: 2;
  border-radius: 5px;
  color: #333;
}

/* Thank You Modal  */
/* The Modal (background) */
.ty-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.ty-text {
  color: #333;
  font-size: 20px;
}

.ty-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 60px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.ty-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.ty-close:hover,
.ty-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.read-more {
  color: #0073a4;
}

.read-more:hover {
  color: #69bfe4;
  cursor: pointer;
}

/* picture zoom modal */
.modal {
  display: none;
  background: rgb(53, 51, 51);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal img,
.modal span {
  z-index: 10;
  max-width: 1000px;
}

/* Pinwheel loader on reload */
.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
.loader .inner-loader {
  width: 100%;
  height: 100%;
  background: url(./img/pinwheel-loader.gif) center center no-repeat;
}

/* Footer ***************/
footer {
  font-size: 12px;
  padding: 5px;
  width: 100%;
  text-align: center;
  display: block;
  bottom: 0;
}
.social-icon {
  color: #fff;
}
.social-icons li {
  vertical-align: top;
  display: inline;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.fa-twitter {
  padding: 10px 12px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-twitter:hover {
  background-color: #00aced;
  border-radius: 5px;
}
.fa-envelope-open {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-envelope-open:hover {
  background-color: #e64a41;
  border-radius: 5px;
}
.fa-linkedin {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-linkedin:hover {
  background-color: #0073a4;
  border-radius: 5px;
}
.fa-github-alt {
  padding: 10px 9px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-github-alt:hover {
  background-color: #05577a;
  color: #fff;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .about-col-6,
  .about-col-3 {
    width: 100%;
  }
  .about-row {
    display: block;
  }
}
@media (max-width: 700px) {
  * {
    font-weight: 700;
  }

  /* Navigation bar responsive    */
  .nav-list a {
    font-size: 18px;
  }

  .about-img {
    width: 100%;
  }

  /* margin */
  .m-2 {
    margin: 1rem;
  }

  .about-row,
  .container,
  .about-col-3,
  .about-col-6 {
    padding: 0;
  }

  /* Text Styles */
  .x-large {
    font-size: 1.5rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* gallery of pictures */
  .slideshow-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  }

  .box-content {
    max-width: 60px;
    min-width: 60px;
    margin: 2px;
  }

  /* picture zoom modal */
  .modal img,
  .modal span {
    z-index: 10;
    max-width: 300px;
  }

  .jackson-lytle {
    height: 0%;
  }
}
